{% extends "layout.html" %} 

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Choose Your Category Below</h1>
            <p class="lead fw-normal text-white-50 mb-0">Let The Shopping Begin!</p>
        </div>
    </div>

    <div class="container bg-white"  >
        <div class="row">
            <center>
               
            </center>
        </div>
    </div>

</header>



{% endblock  %}